.headingText {
  font-family: 'Lato', sans-serif;
}

.bodyText {
  font-family: 'Noto Sans JP', sans-serif;
}

.header {
  padding-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2b3744;
  color: white;
  font-size: 20px;
}

.titleFont {
  font-size: 20px;
}

.alignPadding {
  padding: 0 0.75rem;
}

.box {
  width: 100%;
  border-color: rgb(141, 139, 139);
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 6px;
  font-size: 14px;
}

.boxBio {
  width: 100%;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 7px;
  margin-bottom: 4px;
  font-size: 15px;
}

input {
  margin-top: 1rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
}

.placeholder {
  width: 100%;
}

.submit {
  margin-left: 93%;
}

.profileForm {
  display: flex;
  flex-wrap: wrap;
}

.input-container {
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: 100%;
}

.input-div {
  width: 100%;
}

.icon-resize-and-position {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.text-and-icon-spacing {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .boxBio {
    width: 365px;
  }

  .alignPadding {
    padding: 0 0;
  }

  .header {
    padding-left: 5%;
  }

  .submit {
    margin-left: 86%;
  }
}
